<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/header.ejs')%>
  </head>
  <body>
    <div>
      <%- include('includes/navigation.ejs')%><br />
      <%- include('includes/category-navi.ejs')%>
      <br />
      <%- include('includes/slideshow.ejs')%><br />
      <%- include('includes/card.ejs')%>
    </div>
    <main class="main">
      <% if(probs.length >0) {%>
      <h2>List of users..</h2>
      <% for(let product of probs) {%>
      <p><%= product.username%></p>
      <% } %>
    </main>
    <% } else { %>
    <h2>No users</h2>
    <br />
    <%-include('includes/DealOfTheDay.ejs')%><br />
    <%}%> <%- include('includes/Exclusive1.ejs')%> <br />
    <%- include('includes/footer.ejs')%>
  </body>
</html>
