<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/header.ejs')%>
  </head>
  <body>
    <div>
      <%- include('includes/navigation.ejs')%><br />
      <%- include('includes/category-navi.ejs')%>
      <br />
      <%- include('includes/slideshow.ejs')%><br />
      <%- include('includes/card.ejs')%>
    </div>

    <% if(probs.length>0 ) {%>
    <main>
      <% for(let product of probs) {%>
      <div class="card">
        <img
          src="<%= product.imageUrl%>"
          alt="Avatar"
          class="card-img"
          width="200"
          height="200"
        />
        <div class="container">
          <h4 class="card-title"><b><%= product.title%></b></h4>
          <p><%= product.description%></p>
        </div>
        <div class="card-btn">
          <a href="/details/<%= product._id%>"
            ><button class="card-submit">Details</button></a
          >
          <a href="/add-to-cart/<%= product._id%>"
            ><button class="card-submit">Add to cart</button></a
          >
        </div>
      </div>
      <% } %>
    </main>
    <% } %>
    <br /><br />
    <%- include('includes/footer.ejs')%>
  </body>
</html>
