<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/header.ejs')%>
  </head>
  <body>
    <%- include('layouts/navigation.ejs')%>
    <main>
      <div class="card-details">
        <img
          src="<%= prob.imageUrl%>"
          alt="Avatar"
          class="card-img"
          width="200"
          height="200"
        />
        <div class="container">
          <h4 class="card-title"><b><%= prob.title%></b></h4>
          <p><%= prob.description%></p>
        </div>
      </div>
    </main>
  </body>
</html>
