<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/inlcudes/header.ejs')%>
  </head>
  <body>
    <%- include('layouts/includes/navigation.ejs')%>
    <main>
      <div class="card-login">
        <form action="/edited/<%= probs._id%>" method="POST">
          <label class="card-login-title">Title: </label><br />
          <input
            type="text"
            name="title"
            value="<%= probs.title%>"
            required
          /><br />
          <label class="card-login-title">Price: </label><br />
          <input
            type="text"
            name="price"
            value="<%= probs.price%>"
            required
          /><br />
          <label class="card-login-title">Description: </label><br />
          <input
            type="text"
            name="desc"
            value="<%= probs.description%>"
            required
          />
          <br />
          <label class="card-login-title">Url: </label><br /><input
            type="text"
            name="url"
            value="<%= probs.imageUrl%>"
            required
          /><br />
          <button type="submit" class="card-login-submit">Add products</button>
        </form>
      </div>
    </main>
  </body>
</html>
