<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/includes/header.ejs')%>
  </head>
  <body>
    <%- include('layouts/includes/navigation.ejs')%> <% if(probs.length>0 ) {%>
      <main class="div-order">
      <% for(let order of probs){%>
      

        <div class="order">

          <h2 class="order-title">Order - # <%= order._id %></h1>
           <ul class="order-products">
            <% order.Products.forEach(pro=> {%>
               <li class="order-products--item"><%= pro.product.title %> (<%= pro.quantity%>)</li>
               <% });%>
           </ul>
        </div>
      
      <% }%>
   
    <%} else {%>
      <h1>You didnt place any order  </h1>
      <%}%>
    </main>

  </body>
</html>
