<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/includes/header.ejs')%>
  </head>
  <body>
    <%- include('layouts/includes/navigation.ejs')%> <%-
    include('layouts/includes/category-navi.ejs')%>
    <br />
    <%- include('layouts/includes/slideshow.ejs')%><br />
    <%- include('layouts/includes/card.ejs')%><br /><br />
    <%- include('layouts/includes/DealOfTheDay.ejs')%> <%-
    include('layouts/includes/Exclusive1.ejs')%> <br /><br />
    <%- include('layouts/includes/footer.ejs')%>
  </body>
</html>
